
body {
    /* border: 1px solid #007e00; */
}

header {
    box-shadow: #0000003F 0 14px 28px, #00000038 0 10px 10px;
}

header nav {
    padding: 20px;
}

main .product-box {
    text-align: center;
    margin: 20px;
    max-width: 400px;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: #00000033 0 12px 28px 0, #00000019 0 2px 4px 0, #FFFFFF0C 0 0 0 1px inset;
}

.price {
    font-size: 20px;
    padding-top: 20px;
    margin: 0;
}

main .img-fluid {
    padding: 10px 30px;
    max-height: 200px;
}

main {
    margin: 20px;
}


